@import "./variables.scss";

.footer {
  background-color: var(--dark-bg);
}
.footer-section {
  &__heading {
    font-size: 1rem;
    font-weight: 700;
    color: var(--light_bold);
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -100%;
      left: 0;
      width: 70px;
      height: 2px;
      background-color: var(--green_light);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 2rem 0;
    &-right {
      padding: 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-row {
      flex-direction: row;
      gap: 5px;
    }
  }
  &__key {
    color: var(--light_bold);
  }
  &__value {
    color: var(--dark_regular_lighter);
  }
  &__logo {
    max-width: 200px;
    & img {
      width: 100%;
    }
  }
}
.footer__color-span {
  font-size: 25px;
  font-weight: 600;
  &__red {
    color: red;
  }
  &__white {
    color: white;
  }
}
.footer__patron__wrapper {
  max-width: 250px;
  & img {
    width: 100%;
  }
}
.copyright {
  border-top: 1px solid var(--dark_regular);
  color: var(--light_bold);
  font-size: 13px;
  padding-top: 1rem;
  margin-top: 2rem;
}
