@import url("./variables.scss");

.gallery {
  background-color: #fff;
  border: none;
  &:hover {
    background-color: #ffffff;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    gap: 1rem;

    // max-width: 400px;
    // aspect-ratio: 1/1;
    // border: 1px solid red;
  }
  &__img {
    overflow: hidden;
    min-width: 350px;
    & img {
      transition: all 0.3s;
      transform: scale(1);
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s;
      }
    }
  }
  &__place {
    font-size: 20px;
    color: var(--dark_regular);
    &:hover {
      color: var(--green);
    }
  }
  &__watch {
    font-size: 13px;
    color: var(--dark_bold);
    font-weight: 700;
    text-decoration: none;
    &:hover {
      color: var(--green);
    }
  }
}
.modal {
  //   width: 100vw;
  background-color: rgba(20, 19, 19, 0.7);
}

.slider {
  width: 500px;
}
