@import "variables.scss";

.header {
  position: relative;
  margin-top: 100px;
  background-image: url("../assets/images/header.jpg");
  background-size: cover;
  background-position: top center;
  width: 100vw;
  height: 110vh;
  //   min-height: 100vh;
}
.form_wrapper {
  position: relative;
  top: 0;
  right: 20vw;
  padding-top: 6rem;
  filter: drop-shadow(2px 2px 5px rgb(112, 110, 110));
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: var(--white);
  // visibility: hidden;
  // display: none;
}
.image_wrapper {
  max-width: 100%;
  text-align: right;
  & img {
    max-width: 100%;
    transition: all 0.3s;
  }
  &__offer {
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
    z-index: 0;
    &::after {
    }

    &:hover ::after {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      content: attr(data-text);
      color: white;
      font-size: 2rem;
      font-family: Bold;
      width: 100%;
      height: 100%;
      background-color: var(--green__less);
    }
    &:hover img {
      transition: all 0.3s;
      transform: scale(1.2);
    }
    &:hover .overlay {
      display: block;
    }
  }
}
.article_dark-bg {
  padding-bottom: 3rem;
  position: relative;
  background-color: var(--dark-bg);
  color: var(--light_regular);
}
.steps {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 95%;
    background-color: #fff;
    top: -3%;
    left: 50.35%;
    @media screen and (max-width: 1399px) {
      left: 51.7%;
    }
    @media screen and (max-width: 1199px) {
      left: 53.5%;
    }
  }
}
.step_wrapper {
  border-bottom: 2px solid var(--white);
}
.step_icon {
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--green);
  border: 3px solid var(--white);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background-color: #fff;
    top: 50%;
    left: 100%;
  }
  &__arm {
    transform: rotate(0deg);
    &__left {
      transform: rotate(180deg);
    }
  }
}

.step_title {
  font-size: 30px;
  color: var(--green);
  font-weight: 300;
}
.step_info {
  color: var(--light_bold);
  font-weight: 300;
}

.main-article {
  display: flex;
  flex-direction: column;
  background-color: var(--light_bold);
  text-decoration: none;
  &__img {
    width: 100%;
    & img {
      width: 100%;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
}
.main-article-blog {
  &__title {
    color: var(--dark_bold);
    font-size: 20px;
    font-weight: 700;
  }
  &__span {
    color: var(--green_light);
    font-size: 13px;
  }
  &__short-info {
    color: var(--dark_regular_lighter);
    line-height: 2;
  }
}
.side-article {
  display: flex;

  &__img {
    width: 20%;
    margin: 0 3rem 0 0;
    & img {
      width: 100%;
    }
  }
  &__info {
    & p {
      color: var(--dark_bold);
      font-weight: 600;
      margin: 0;
    }
    & span {
      color: var(--light_regular);
      font-size: 13px;
    }
  }
}
.blog-btn {
  width: 15rem;
  margin: 0 auto;
}
.contact__wrapper {
  padding: 6rem 0;
  margin: 0 auto;
  background-image: linear-gradient(
    40deg,
    var(--gradient-green),
    var(--gradient-yellow)
  );
}
.contact_banner {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  &__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__text {
    display: flex;
    flex-direction: column;
    &-small {
      font-weight: 600;
    }
    &-big {
      font-size: 35px;
      font-weight: 600;
    }
    @media screen and (max-width: 992px) {
      padding: 3rem 1rem;
      text-align: center;
    }
  }
}
.contact_btn {
  background-color: var(--white);
  color: var(--green_light);
  width: 300px;
  @media screen and (max-width: 992px) {
    margin: 0 auto;
  }
}
