@import "variables.scss";

.section-paragraph__regular {
  color: var(--dark_regular);
}
.section-paragraph__bold {
  color: var(--dark_bold);
  font-weight: 700;
  font-size: 20px;
}
.section-paragraph__color {
  color: var(--green_light);
  font-weight: 700;
}
.image {
  width: 100%;
  & img {
    width: 100%;
  }
}
