@font-face {
  font-family: "light";
  src: url("../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}
:root {
  /* colors */
  --dark_bold: rgb(44, 44, 44);
  --dark_regular: rgb(122, 122, 122);
  --dark_regular_lighter: rgb(139, 141, 148);
  --light_bold: rgb(238, 238, 238);
  --light_regular: rgb(155, 152, 152);
  --green: rgb(44, 179, 74);
  --green__less: rgba(44, 179, 74, 0.7);
  --green_light: rgb(143, 199, 68);
  --white: rgb(255, 255, 255);
  --dark-bg: rgb(26, 28, 32);
  /* typo */
  --light: "light";
  --regular: "regular";
  --medium: "medium";
  --bold: "bold";
}
.flex-end {
  display: flex;

  justify-content: end;
  align-items: start;
}
.article_h4 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--green);
}
.article_h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--dark_bold);
  padding-bottom: 2rem;
  &__on-dark-bg {
    color: var(--light_bold);
  }
}
.article_paragraph {
  font-size: 1rem;
  color: var(--dark_regular);
  &__on-dark-bg {
    color: var(--light_regular);
  }
}
.main_btn {
  cursor: pointer;
  background-color: var(--green);
  width: 10rem;
  color: var(--white);
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  padding: 10px;
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
    background-color: var(--green_light);
    color: var(--white);
    transform: translateY(-10px);
  }
}
